/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS */
:root {
  /* Primary Colors */
  --color-primary: #3ac9a8;
  --color-primary-light: #6fe0c4;
  --color-primary-dark: #2fa68c;

  /* Secondary Colors */
  --color-secondary-light: #f1faf5;
  --color-secondary-dark: #f1faf5; /* Same as light unless you want a darker version */

  /* Tertiary Colors */
  --color-tertiary-light: #145c58;
  --color-tertiary-dark: #145c58; /* Same as light unless updated */

  /*RGB*/
  --color-primary-light-rgb: 111, 224, 196; /* #6fe0c4 */
  --color-primary-dark-rgb: 47, 166, 140; /* #2fa68c */

  --color-secondary-light-rgb: 241, 250, 245;
  --color-secondary-dark-rgb: 241, 250, 245;

  --color-tertiary-light-rgb: 20, 92, 88;
  --color-tertiary-dark-rgb: 20, 92, 88;

  /* Greys */
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
}

/* Estilo hover para títulos secundarios */
.heading-secondary:hover {
  background-image: linear-gradient(
    to left,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.009) rotate(-1.5deg);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* Animaciones personalizadas */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
